body
{
    font-family:Raleway;
    margin-right: 3.5vw;
    min-height: 100%;
}

i{
    padding-left: 1vw;
}

h1, h2, h3, h4, h5, h6{
    text-align: center;
}

.container-fluid{
    padding: 0px;
}

/* Header*/

#logo{
    position: absolute;
    margin-left: -6px;
    margin-top: -6px;
    z-index:10;
    top: 0; 
    width: 38vw;
    height: 30vh;
}


/* Kontener */
div.content{
    overflow-y: scroll;
    height: 60vh;
}


/* Nawigacja */

#navbar{
    width: 100%;
    padding: 0 0 0 0;
    font-size:1.1vw;
    margin-top: 10vmin;
    margin-bottom: 13vh;
    background-color: white;
    z-index:20;
}

li{
    display: inline-block;
    color: white;
    width: 11vw;
    height: 10vh;
    background-color: #78C4C6;
    margin-left: 1.79vw;
    text-transform: uppercase;
}

li a{
    display: block;
    color: white;
    height: 100%;
    padding-top: 3vh;
}

.navbar-nav .current_page_item{
    background-color: #17A1A5;
}


li:first-child{
    margin-left:0;
}

li a:hover, .active {
    background-color: #17A1A5;
    text-decoration: none;
    color: white;
}

/* Teaching */

#teaching {
    width: 24vw;
    height: 30vh;
    position: absolute;
    margin-top: 55vh;
    background-color: #006468;
}

.teachinginside {
    display: table-cell;
    margin-top: 15vh;
    padding-left: 10%;
    color: white;
    font-size: 22px;
    text-transform: uppercase;
    vertical-align: middle;
}


/* Footer*/

#foot {
    position: fixed;
    bottom:0;
    height: 7vmin;
    width: 100%;
    background-color: #B3D9DA;
    color: white;
}

.footerinfo{
    display: inline-block;
    font-size: 12px;
    margin-top: 2vh;
    margin-left: 2vw;
}


.contact{
    font-size: 0.9em;
    float: right;
    margin-right: 3.5vw;
    text-align: right;
    color: #17A1A5;
}

.fb{
    display: inline-block;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    height: 100%;
    float: right;
    margin-right: 3%;
}

.fb :hover{
    opacity: 0.7;
}




/* Post*/
 #post1, #post2, #post3 {
    width: 100%;
    height: 52vh;
    background-color: #17A1A5;
    display: table;
}

 #post1:hover, #post2:hover, #post3:hover {
    background-color: #78C4C6;
    opacity: 0.8;
    cursor: pointer;
}
.carousel-control-prev, .carousel-control-next {
    width: 5%;
    z-index: 100;
}

.half{
    position: relative;
    display: table-cell;
    width: 50%;
    height: 100%;
}

.more{
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 20%;
    background: black;
    opacity: 0.7;
    font-size: 0.5em;
    text-align: right;
    padding-left: 2%;
    padding-right: 2%;
    text-transform: uppercase;
}
.more:hover{
    opacity:1;
}


.carousel-indicators li {
    width: 10px;
    height: 10px;
    margin-right: 15px;
}


.picture1{
    background-image: url("../images/car.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}

.picture2{
    background-image: url("../images/kiatest.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}
.picture3{
    background-image: url("../images/rio.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}

.info{
    padding-left: 3vw;
    padding-right: 3vw;
    vertical-align: middle;
    color: white;
    font-size: 28px;
}



.container-fluid {
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/************************ Mobile *****************/
@media(max-width: 992px)
{
    body{
        margin-left:0;
        margin-right: 0;
        padding-right: 15px;
    }
    .fb{
        float:left;
        padding: 0 0 0 7px;
        display: inline-block;
    }
    #navbar{
        z-index: 9;
    }

    .contact{
        font-size: 1.7em;
    }

    li{
    width: 100%;
    height: 10vh;
    margin-left:0;
    text-transform: uppercase;
    font-size: 4vmin;
    }

    li:first-child{
        margin-left: 0;
    }

    li a{
    display: block;
    color: white;
    height: 100%;
    padding-top: 3vh;
    }

    #post1, #post2, #post3 {
    height: 26vh;
    }

    .info{
        text-align: center;
        text-transform: uppercase;
        font-size: 4vmin;
    }

    .mobilecarousel{
    width: 100%;
    height: 26vh;
    background-color: #17A1A5;
    box-sizing: border-box;
    border: 10px solid #17A1A5;
    }

    .left{
        background: white;
        text-align: center;
        color: black;
        font-size: 4vmin;
        text-transform: uppercase;
    }
    button.navbar-togler{
    font-size: 1.8rem;
    margin-right: 15px;
}

}
